*, html {
    margin:0;
    padding:0;
}

body {
    font-family: helvetica, arial, sans-serif;
    background-color: #444444;
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: white;
    padding: 1em;
    /*height: 100vh;*/
    /*width: 800px;*/
    /*margin: 0px auto;*/
    border-left: 1px solid dimgray;
    border-right: 1px solid dimgray;
}

#json-area textarea {
    width: 100%;
}

.header {
    font-size: 90%;
    font-weight: bold;
    margin-top: 1em;
}

.section-header {
    font-size: 100%;
    font-weight: bold;
    margin-top: 1.4em;
}

p {
    line-height: 1.7;
}
