*, html {
    margin:0;
    padding:0;
}

body {
    font-family: helvetica, arial, sans-serif;
    background-color: #444444;
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    background-color: silver;
    height: 1px;
    margin: 12px 0;
}

.wrapper {
    background-color: white;
    padding: 1em;
    /*height: 100vh;*/
    /*width: 800px;*/
    /*margin: 0px auto;*/
    border-left: 1px solid dimgray;
    border-right: 1px solid dimgray;
}

.panel {

}

#json-area textarea {
    width: 100%;
    padding: 1em;
}

.header {
    font-size: 90%;
    font-weight: bold;
    margin-top: 1em;
}

.section-header {
    font-size: 100%;
    font-weight: bold;
    margin-top: 1.4em;
}

.section-container {
    margin: 12px 0;
}

.section-container.category {
    padding: 12px;
    border: 1px solid gainsboro;
}

input[type="text"], button {
    padding: 0.2em;
}

input[type="radio"] {
    margin-right: 0.5em;
}

label.radio {
    margin-right: 1.2em;
}

p, li {
    line-height: 1.7;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 90%;
    margin: 0.2em 0;
}

.plugin-label {
    display: inline-block;
    width: 260px;
}

.plugin-row span, .plugin-row button {
    display: inline-block;
    padding: 0 12px;
    margin-left: 12px;
}

#customer-plugins-area .panel button {
    display: inline-block;
    padding: 0 12px;
}

#messages-container {
    position: fixed;
    top: 0;
    right: 0;
}

#messages-container > div {
    margin: 6px;
    padding: 6px;
}

#messages-container p {
    font-size: 80%;
    line-height: 1.2;
}

#messages-container hr {
    visibility: hidden;
    margin: 0;
    padding: 0;
    height: 6px;
}

#messages-container .error {
    background-color: indianred;
    color: darkred;
}
